fastapi==0.115.6
uvicorn[standard]==0.34.0
groq==0.13.0
sentence-transformers==3.2.0
faiss-gpu #faiss-cpu for windows
transformers==4.47.0
torch==2.5.1
numpy==1.26.4
python-dotenv==1.0.0
llama-index
llama-index-readers-file